* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

ul,
 li {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

.navbars {
    height: 70px;
}

main {
    display: flex;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 150px;
    flex-shrink: 0;
    background-image: url(../img/sidebar-bg.png);
    background-color: #051E34;
}

.main-content {
    height: calc(100vh - 70px);
    flex-grow: 1;
}

.search {
    flex-shrink: 1;
}

.bell {
    color: orange;
}

.button-list {
    margin-left: auto;
}

.arrow {
    font-size: 13spx;
}

.plus-icon {
    display: none;
}

/* SIDEBAR */

.admin {
    margin-top: auto;
    display: flex;
}

.list-icon {
    margin-right: 11px;
}

.list-icons:hover  {
    content: '';
    display: block;
    background-color: rgba(230, 240, 243, 0.544);
    width: max-content;
}

/* MAIN-CONTENT */

.card-mains {
    display: flex;
}


@media all and (max-width: 768px) {
    .icon-nav-header {
        /* display: none; */
    }

    .sidebar-menu{
        display: none;
    }

    .sidebar {
        width: 80px;
    }

    .bell {
        display: block;
    }

    .badge-icon {
        display: none;
    }

    .plus-icon {
        display: block;
        width: 30px;
    }

    .list-boolean {
        flex-direction: column;
    }
}





